<?xml version="1.0" encoding="utf-16" standalone="yes"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IService1">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8743/testservice/WcfServiceLibrary" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1" name="BasicHttpBinding_IService1" />
      <endpoint address="net.tcp://localhost:8744/testservice/WcfServiceLibrary" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService1" contract="ServiceReference1.IService1" name="NetTcpBinding_IService1">
        <identity>
          <userPrincipalName value="LAPTOP-RP8OGUNV\ibrah" />
        </identity>
      </endpoint>
    </client>
    <services>
      <service name="WcfServiceLibrary.Service1">
        <endpoint address="WcfServiceLibrary" binding="basicHttpBinding" contract="WcfServiceLibrary.IService1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="WcfServiceLibrary" binding="netTcpBinding" contract="WcfServiceLibrary.IService1" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>